body{
    font-family: sf mono;
}

.controls {
    display: flex;
    width:95%;
}

.control-center{
    background-color: #FBF3E4;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);   
}

.container {
    margin-top: 55px;
}

.sbtn {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin: 5px;
    height: 35px;
}

.aligntext {
    display: flex;
}
.ibtn {
    border-radius: 0;
    height: 100%;
}
#Alignment-menu{
    display: flex;
}
#editor {
    padding: 20px;
    outline: 0;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    min-height: 500px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
.dropdown-menu {
    padding: 3px;
}
.cbtn {
    width: 100%;
    margin: 0;
}


/* Tippy Js Custom Theme */
.tippy-box[data-theme~='my-theme'] {
    background-color: white;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    font-family: sf mono;
    color:#FF87CA;
}